<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | blastoise</title>
    <link rel="shortcut icon" href="../img/blastoise.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="blastoise">
    <h1>blastoise</h1>
    <img src="../img/blastoise.png" alt="blastoise">
    <p>tipo: <span>agua</span> </p>
    <br>
    <p><strong>Descripción:</strong> </p>
    <p>Blastoise es un Pokémon de tipo agua introducido en la primera generación. Es la evolución de Wartortle.</p>
    <p class="borde"><a href="../index.html">Volver Inicio </a></p>
</body>

</html>