<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | ivysaur</title>
    <link rel="shortcut icon" href="../img/ivysaur.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body class="ivyasur">
    <h1>ivysaur</h1>
    <img src="../img/ivysaur.png" alt="ivysaur">
    <p>tipo: <span>planta</span> </p>
    <br>
    <p><strong>Descripción:</strong> </p>
    <p>Ivysaur es un Pokémon de tipo planta/veneno introducido en la primera generación. Es la evolución de Bulbasaur, uno de los Pokémon iniciales de Kanto. </p>
    <p class="borde"><a href="../index.html">Volver Inicio </a></p>

</body>

</html>