<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | squirtle</title>
    <link rel="shortcut icon" href="../img/squirtle.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body class="squirtle">
    <h1>squirtle</h1>
    <img src="../img/squirtle.png" alt="squirtle">
    <p>tipo: <span>agua</span> </p>
    <br>
    <p><strong>Descripción:</strong> </p>
    <p>Squirtle (ゼニガメ Zenigame en japonés) es un Pokémon de tipo agua introducido en la primera generación. Es uno de los Pokémon iniciales en la región Kanto, junto a Bulbasaur y Charmander, en las ediciones Pokémon Rojo, Pokémon Verde y Pokémon Azul y
        Pokémon Rojo Fuego y Pokémon Verde Hoja.</p>
    <p class="borde"><a href="../index.html">Volver Inicio </a></p>

</body>

</html>